<ion-view title="Account">
  <ion-content class="padding">
    <h1>Account</h1>
    <button class="btn-auth  btn-facebook" ng-click="facebookLogin()" ng-show="feedData == null">
      Get facebook
    </button>
    <div ng-show="feedData != null">
      <img ng-src="{{feedData.picture.data.url}}"  />
      Hello {{feedData.name}} ({{feedData.email}})
    </div>
<hr>
    <button class="button" ng-click="googleLogin()" ng-show="feedDataGoogle == null">
      Get google
    </button>


    <div ng-show="feedDataGoogle != null">
      <img ng-src="{{feedDataGoogle.picture}}"  />
      Hello {{feedDataGoogle.name}} ({{feedDataGoogle.email}})
    </div>

  </ion-content>
</ion-view>
